{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7eecb;
    color: #333;
    padding: 20px;
}

.header {
    background-color: #d6c68b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

.header a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

.header a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    color: #c2b067;
}

p {
    font-size: 1.2em;
    margin: 20px auto;
    width: 80%;
    text-align: justify;
}

ul {
    list-style: none;
    margin-top: 20px;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 15px;
}

ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

ul li a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

ul li a[href="https://lib.ugm.ac.id/"] {
    font-weight: bold;
    color: #1a73e8;
}

ul li a[href="https://lib.ugm.ac.id/"]:hover {
    color: #0c56a0;
}

footer {
    background-color: #d6c68b;  
    color: white;        
    font-weight: bold;
    text-align: center;     
    padding: 20px 0;         
    position: relative;
    bottom: 0;
    width: 100%;           
}

footer p {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    text-align: justify;
}
